# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Codegym\Bai-Tap\Code\Module-4\1. Tong quan Spring MVC\thuchanh-ungdung-quanlyKH\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
